<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Responsive layout - Fuse Documentation</title>
    <link rel="stylesheet" href="https://fuse-open.github.io/docs/font-awesome.css?_v=20180508073448">
    <link rel="stylesheet" href="https://fuse-open.github.io/docs/bootstrap.css?_v=20180508073448">
    <link rel="stylesheet" href="https://fuse-open.github.io/docs/prism.css?_v=20180508073448">
    <link rel="stylesheet" href="https://fuse-open.github.io/docs/site.css?_v=20180508073448">
  </head>

  <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://fuse-open.github.io/docs/">Fuse: Documentation</a>
      <div class="search d-none d-lg-block">
        <script>
          (function() {
            var cx = '003990228577991558032:1dgsgv066lc';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
          window.onload = function() {
            document.getElementById('gsc-i-id1').placeholder = 'Search';
          }
        </script>
        <gcse:search></gcse:search>
      </div>
    </nav>

    <div class="container-fluid main-content-wrapper">
      <div class="row">
        <div class="col-12 col-lg-2 order-2 order-lg-1 bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="list-unstyled outline-nav outline-nav-level-0">
	<li>
		<a href="https://fuse-open.github.io/docs/index.html">Fuse</a>
	<ul class="list-unstyled outline-nav outline-nav-level-1">
		<li>
			<a href="https://fuse-open.github.io/docs/basics/basics.html">Fuse Basics</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/basics/supported-platforms.html">Supported platforms</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/basics/installation-and-quickstart.html">Installation and quickstart</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/basics/introduction-to-fuse.html">Introduction to Fuse</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/basics/preview-and-export.html">Preview and export</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/componentization.html">Componentization</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/layout/responsive-layout.html">Responsive layout</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/declarative-animation.html">Declarative animation</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse-for-designers.html">Fuse for designers</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/structuring-app-resources.html">Structuring app resources</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/basics/feature-overview.html">Feature overview</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/basics/faq.html">FAQ</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/packages.html">Community Packages</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/fuse-studio/fuse-studio.html">Fuse Studio (Pro)</a>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/tutorial/tutorial.html">Tutorial</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/edit-hike-view.html">1. Edit Hike view</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/multiple-hikes.html">2. Multiple hikes</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/splitting-up-components.html">3. Splitting up components</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/navigation-and-routing.html">4. Navigation and routing</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/mock-backend.html">5. Mocking our Backend</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/look-and-feel.html">6. Tweaking the look/feel</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/splash-screen.html">7. Splash screen</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/tutorial/final-thoughts.html">8. Final thoughts</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/reference.html">Full Reference</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/full-ux-class-reference.html">UX Class Reference</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/basics/uno-projects.html">Uno projects (.unoproj) Reference</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/ux-markup/ux-markup.html">UX Markup</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/literals.html">Literals</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/expressions.html">Expressions</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/names.html">Names (ux:Name)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/classes.html">Classes (ux:Class)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/dependencies.html">Dependencies (ux:Dependency)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/properties.html">Properties (ux:Property)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/resources.html">Resources (ux:Key)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/globals.html">Globals (ux:Global)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/templates.html">Templates (ux:Template)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/ux-markup/binding-and-auto-bind.html">Binding (ux:Binding &amp; ux:AutoBind)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/testing/testing.html">Testing (ux:Test)</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/xcode-and-android-studio-integration/tutorial.html">XCode &amp; Android Studio Integration (Pro)</a>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/primitives/primitives.html">Primitives</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/text.html">Text</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/rectangle.html">Rectangle</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/circle.html">Circle</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/curve.html">Curve</a>
			<ul class="list-unstyled outline-nav outline-nav-level-3">
				<li>
					<a href="https://fuse-open.github.io/docs/fuse/controls/curvepoint.html">CurvePoint</a>
				</li>
			</ul>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/path.html">Path</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/image.html">Image</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/video.html">Video</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/charting/charting.html">Charting (Pro)</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/plot.html">Plot</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/dataseries.html">DataSeries</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/plotaxis.html">PlotAxis</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/plotdata.html">PlotData</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/plotpoint.html">PlotPoint</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/plotbar.html">PlotBar</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/charting/plotcurvepoint.html">PlotCurvePoint</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/layout/layout.html">Layout</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/elements/element.html">Element</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/panel.html">Panel</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/stackpanel.html">StackPanel</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/dockpanel.html">DockPanel</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/grid.html">Grid</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/wrappanel.html">WrapPanel</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/layouts/columnlayout.html">ColumnLayout</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/layouts/circlelayout.html">CircleLayout</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/scrollview.html">ScrollView</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/fuse/controls/control.html">Controls</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/button.html">Button</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/textinput.html">TextInput</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/textview.html">TextView</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/slider.html">Slider</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/switch.html">Switch</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/cameraviewbase.html">CameraView (Pro)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/mapview.html">MapView</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/webview.html">WebView</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/nativeviewhost.html">NativeViewHost</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/graphicsview.html">GraphicsView</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/scripting/scripting.html">Scripting &amp; Data</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/javascript.html">JavaScript</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/scripting/debugging.html">Debugging</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/databinding.html">DataBinding</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/each.html">Each</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/with.html">With</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/match.html">Match</a>
			<ul class="list-unstyled outline-nav outline-nav-level-3">
				<li>
					<a href="https://fuse-open.github.io/docs/fuse/reactive/case.html">Case</a>
				</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/fusejs/observable.html">Observables</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/observable-api.html">API reference</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/observable-patterns.html">Patterns</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/navigation/navigation.html">Navigation</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/page.html">Page</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/pagecontrol.html">PageControl</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/navigation/router.html">Router</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/navigator.html">Navigator</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/triggers/transition.html">Transitions</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/fusejs/fusejs.html">JavaScript APIs</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/polyfills.html">Polyfills</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/eventemitter.html">EventEmitter</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/filesystem/filesystemmodule.html">FileSystem</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/storage/storagemodule.html">Storage</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/bundle.html">Bundle</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/lifecycle.html">Lifecycle</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/fusejs/interapp.html">InterApp</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/share/sharemodule.html">Share</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/http.html">HTTP</a>
			<ul class="list-unstyled outline-nav outline-nav-level-3">
				<li>
					<a href="https://fuse-open.github.io/docs/backend/rest-apis.html">Working with REST APIs</a>
				</li>
			</ul>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/environment.html">Environment</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/fusejs/phone.html">Phone</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/camera/camera.html">Camera</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/cameraroll/cameraroll.html">CameraRoll</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/vibration/vibrationmodule.html">Vibration</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/geolocation/geolocation.html">GeoLocation</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/pushnotifications/push.html">Push notifications</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/localnotifications/localnotify.html">Local notifications</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/base64.html">Base64</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/reactive/fusejs/timermodule.html">Timer</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/imagetools/imagetools.html">ImageTools</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fusejs/third-party-modules.html">Third-party modules</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/uno/ux/resource.html">Resources</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/font.html">Fonts</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/resources/imagesource.html">Image sources</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/assets/bundle.html">Bundled files</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/assets/sketch-import.html">Import from Sketch</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/assets/sketch-symbol-import.html">Sketch symbols (Beta)</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/assets/iconfont-import.html">Import icon fonts</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/fuse/triggers/trigger.html">Triggers &amp; Animation</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/transform.html">Transforms</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/gestures/transformgesture.html">Gestures</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/animations/animator.html">Animators</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/triggers/timeline.html">Timeline</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/triggers/actions/triggeraction.html">Actions</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/selection/selection.html">Selection</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/triggers/stategroup.html">StateGroups</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/controls/multilayoutpanel.html">MultiLayoutPanel</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/triggers/busy.html">Busy</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/effects/effects.html">Effects</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/effects/dropshadow.html">DropShadow</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/effects/blur.html">Blur</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/fuse/effects/halftone.html">Halftone</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/native-interop/native-interop.html">Native interop (Uno)</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/root-ns.html">Full Uno Class Reference</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/native-ux-components.html">Native UX components</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/native-js-modules.html">Native JS modules</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/foreign-code.html">Foreign code</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/using-third-party-sdks.html">Using 3rd party SDKs</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/unolibs/activity-utils.html">Activity utils</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/facebook-login.html">Facebook login using foreign code</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/gradle-support.html">Gradle Support</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/build-settings.html">Build settings</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/android-permissions.html">Android permissions</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/android-start-activity.html">Starting an Android Activity</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/native-interop/ios-capabilities.html">iOS Capabilities</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/alive/alive.html">Alive UX Kit (Pro)</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/alive.html">Components</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/alive/themes.html">Themes</a>
			</li>
		</ul>
		</li>
		<li>
			<a href="https://fuse-open.github.io/docs/technical-corner/technical-corner.html">Technical corner</a>
		<ul class="list-unstyled outline-nav outline-nav-level-2">
			<li>
				<a href="https://fuse-open.github.io/docs/technical-corner/fuse-protocol.html">Fuse plugin API</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/preview-and-export/preview-details.html">How preview works</a>
			</li>
			<li>
				<a href="https://fuse-open.github.io/docs/technical-corner/uxl-handbook.html">UXL handbook</a>
			</li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

          </div>
        </div>
        <div role="main" class="col-12 col-lg-10 ml-sm-auto order-1 order-lg-2 px-4 main-content">
          <h2 id="responsive-layout">Responsive layout</h2>
<p>When making apps for a wide range of mobile devices, we're facing a huge number of different screen sizes, pixel densities and aspect ratios. How do you make a fully responsive app that adapts to these constraints? Fuse solves the challenge by using a basic set of layout rules and triggers, which you should know and understand in order to be effective in Fuse.</p>
<h3 id="units-of-measurement">Units of measurement</h3>
<p>There are several units of measurement you can use to describe element dimensions. The default unit is points (<code>pt</code>). The advantage of using points is that an element with explicit dimensions appears the same size on screens of different pixel densities. There is also a percentage unit (<code>%</code>), which can be used to define the size of an element to be a percentage of its available size. For the odd case where you need to specify the exact amount of pixels you want an element to occupy, we have the pixel (<code>px</code>) unit. Note however that when using this unit of measurement, elements will have different sizes on different screen densities.</p>
<p>You can specify the unit of a number by appending either pt, px or % (note that we don't need to specify <code>pt</code> as that becomes the unit if we only specify the number):</p>
<pre><code>&lt;Panel Width=&quot;50%&quot; Heigh=&quot;100px&quot; /&gt;
</code></pre>
<h3 id="using-images-in-responsive-layout">Using images in responsive layout</h3>
<p>When using images in Fuse apps, you should try to make them match the intended target size on screen. Scaling the image up or down significantly will likely result in visible aliasing artefacts. You should use <code>MultiDensityImageSource</code> to supply several versions of the same image for use on screens of different pixel densities. This lets us avoid up-/downscaling in the cases where the image would otherwise not match its intended size on screen as a result of changes in pixel density between screens.</p>
<h3 id="basic-building-blocks">Basic building blocks</h3>
<p>Fuse comes with an extremly powerful layout system that lets you create UIs that fit on many different screen sizes and aspect ratios. UIs in Fuse are created by a hierarchy of various <code>Panel</code> types, as well as other primitives like <code>Rectangle</code>, <code>Circle</code> and <code>Image</code>. The various <code>Panel</code> types, like <code>StackPanel</code>, <code>Grid</code> and <code>DockPanel</code>, are used to position and size multiple elements relative to each other as well as relative to the available space.</p>
<h3 id="available-space-concept">Available space concept</h3>
<p>Let's start with the concept of <strong>available space</strong>. As you might expect, when you have an empty application, the available space is the whole screen of the mobile device, including the area behind status and action bars:</p>
<pre><code>&lt;App&gt;
&lt;/App&gt;
</code></pre>
<p>Now, most of the visual elements placed inside of the app tag will by default try to be as big as possible and fill up all available space (there are exceptions, such as <code>StackPanel</code>):</p>
<pre><code>&lt;App&gt;
    &lt;Panel&gt;
    &lt;/Panel&gt;
&lt;/App&gt;
</code></pre>
<p>However, sometimes we don't want our elements to occupy all available space, but instead subdivide that space and distribute it amongst several elements:</p>
<pre><code>&lt;App&gt;
    &lt;DockPanel&gt;
        &lt;Panel Dock=&quot;Top&quot; Height=&quot;56&quot; Color=&quot;Blue&quot; /&gt;
        &lt;Panel Dock=&quot;Bottom&quot; Height=&quot;56&quot; Color=&quot;Green&quot; /&gt;
        &lt;Panel Color=&quot;Yellow&quot;&gt;
        &lt;/Panel&gt;
    &lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>
<p>In this example, the <code>DockPanel</code> fills up all available space, then inside it is a 56pt tall blue <code>Panel</code> that is docked to the top edge. The green <code>Panel</code> is also 56pt high, but it is docked to the bottom edge. Since there are no horizontal constraints on the two panels (like the <code>Width</code> property for example), they stretch to fill the full width of the available space, which in this case is the full width of the screen.</p>
<p>The yellow <code>Panel</code> automatically takes up the <strong>remaining available space</strong>, which is now the whole area between the blue and green panels.</p>
<p>Assigning a <code>Dock</code> property to an element within a <code>DockPanel</code> ensures it takes up as little space as possible either vertically (when docked to the top or bottom) or horizontally (when docked to the left of right).</p>
<h3 id="alignment-affects-layout">Alignment affects layout</h3>
<p>With the <strong>available space</strong> concept settled firmly, let's move on and throw <code>Alignment</code> into the mix!</p>
<pre><code>&lt;App&gt;
    &lt;DockPanel&gt;
        &lt;Panel Dock=&quot;Top&quot; Height=&quot;56&quot; Color=&quot;Blue&quot; /&gt;
        &lt;Panel Dock=&quot;Bottom&quot; Height=&quot;56&quot; Color=&quot;Green&quot; /&gt;
        &lt;Panel Color=&quot;Yellow&quot;&gt;
        	&lt;Panel Color=&quot;Red&quot; Alignment=&quot;Top&quot; Height=&quot;16&quot; /&gt;
        &lt;/Panel&gt;
    &lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>
<p><img src="../media/responsive-layout/alignment_affects_layout_1.png" alt="alignment_example_1"></p>
<p>In this case, the nested red <code>Panel</code> with <code>Alignment=&quot;Top&quot;</code> set will take up only 16pt vertically, and be aligned to the top of the yellow <code>Panel</code>. When we assign an <code>Alignment</code> to an element, it tries to stick to the particular side of its parent and take up as little space in the respective direction as possible. The red <code>Panel</code> still stretches to fill the full width of the available space since there are no horizontal constraints set on it.</p>
<p>[callout info]
At this point you might wonder what the difference between &quot;docking&quot; something in a <code>DockPanel</code> and aligning something is. Although the two have similar effects, <strong>the most important difference is that aligning something does not subdivide its parents available space.</strong> What we mean by this is that the red <code>Panel</code> in the previous example does not &quot;spend&quot; its parent available space (as was done by the blue and green panels), it is instead just a way of declaring where panel should appear in the case where it is smaller (or bigger) than its parent in one or more dimensions.
[/callout]</p>
<p>If we remove the explicit <code>Height</code> on the red <code>Panel</code> and add some child elements with non-zero dimensions inside of it, the children will push the parent dimensions to accommodate the tallest child, the 200pt high maroon <code>Panel</code> in this case:</p>
<pre><code>&lt;App&gt;
    &lt;DockPanel&gt;
        &lt;Panel Dock=&quot;Top&quot; Height=&quot;56&quot; Color=&quot;Blue&quot; /&gt;
        &lt;Panel Dock=&quot;Bottom&quot; Height=&quot;56&quot; Color=&quot;Green&quot; /&gt;
        &lt;Panel Color=&quot;Yellow&quot;&gt;
        	&lt;Panel Color=&quot;Red&quot; Alignment=&quot;Top&quot;&gt;
        		&lt;Panel Color=&quot;Teal&quot; Height=&quot;20&quot; /&gt;
        		&lt;Panel Color=&quot;Maroon&quot; Height=&quot;200&quot; /&gt;
        	&lt;/Panel&gt;
        &lt;/Panel&gt;
    &lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>
<p><img src="../media/responsive-layout/alignment_affects_layout_2.png" alt="alignment_example_2"></p>
<hr>
<p>Other <code>Panel</code> types behave slightly differently. For example, let's take a look at <code>StackPanel</code>:</p>
<pre><code>&lt;App&gt;
    &lt;DockPanel&gt;
        &lt;Panel Dock=&quot;Top&quot; Height=&quot;56&quot; Color=&quot;Blue&quot; /&gt;
        &lt;Panel Dock=&quot;Bottom&quot; Height=&quot;56&quot; Color=&quot;Green&quot; /&gt;
        &lt;Panel Color=&quot;Yellow&quot;&gt;
        	&lt;StackPanel Color=&quot;Red&quot; Alignment=&quot;Top&quot;&gt;
        		&lt;Panel Color=&quot;Teal&quot; Height=&quot;20&quot; /&gt;
        		&lt;Panel Color=&quot;Maroon&quot; Height=&quot;200&quot; /&gt;
        	&lt;/StackPanel&gt;
        &lt;/Panel&gt;
    &lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>
<p><img src="../media/responsive-layout/alignment_affects_layout_3.png" alt="alignment_example_3"></p>
<p>A vertical <code>StackPanel</code> stacks its children one after the other, and stretches to accommodate the combined height of all children. The red <code>StackPanel</code> in the example above is now 220 points high and aligned to the top of the yellow <code>Panel</code>. You can find more details on <code>StackPanel</code> behaviour in <a href="https://www.fusetools.com/docs/fuse/controls/stackpanel">StackPanel docs</a>.</p>
<p>It's worth noting that aside from <code>Alignment</code>, other visual properties have an effect on the layout calculation too. These include <code>Width</code>, <code>Height</code>, <code>MinWidth</code>, <code>MinHeight</code>, <code>MaxWidth</code>, <code>MaxHeight</code>, <code>X</code>, <code>Y</code>, <code>Margin</code>, <code>Padding</code> and a few more. When setting such properties, be sure to always test how your layout looks on different target devices.</p>
<h3 id="list-of-commonly-used-layout-controls">List of commonly used layout controls</h3>
<h4 id="dockpanel">DockPanel</h4>
<p><code>DockPanel</code> is one of the most frequently used layout containers. It lets us dock elements to its sides, consuming that space in the process so that the next item being docked only considers the remaining space. See the <a href="https://www.fusetools.com/docs/fuse/controls/dockpanel">DockPanel docs</a> for more details.</p>
<p><img src="../media/responsive-layout/dockpanel_docking_explanation.png" alt="dockpanel_example"></p>
<pre><code>&lt;DockPanel&gt;
	&lt;Rect Dock=&quot;Left&quot; Color=&quot;Red&quot; Width=&quot;50&quot; /&gt;
	&lt;Rect Dock=&quot;Top&quot; Color=&quot;Blue&quot; Height=&quot;100&quot; /&gt;
	&lt;Rect Dock=&quot;Right&quot; Color=&quot;Green&quot; Width=&quot;100&quot; /&gt;
	&lt;Rect Color=&quot;Yellow&quot;/&gt;
&lt;/DockPanel&gt;
</code></pre>
<h4 id="stackpanel">StackPanel</h4>
<p>As the name suggests, you want to use a <code>StackPanel</code> for stacking items. This is very useful when creating lists of items, but it's applicable in any situation when you need to stack elements either vertically or horizontally. We often use <code>StackPanel</code> when we don't know exactly how many items we need to display. The <code>StackPanel</code> can just grow to fit as many children as it is given (unlike the <code>DockPanel</code> for example). Because of this, a <code>StackPanel</code> can grow to become larger than its parent, overflowing its available size. See the <a href="https://www.fusetools.com/docs/fuse/controls/stackpanel">StackPanel docs</a> for more details.</p>
<pre><code>&lt;StackPanel Alignment=&quot;Top&quot; Margin=&quot;8&quot; ItemSpacing=&quot;4&quot;&gt;
	&lt;Each Count=&quot;4&quot;&gt;
		&lt;Panel Height=&quot;56&quot;&gt;
			&lt;Text Value=&quot;The title of an item&quot; Alignment=&quot;Center&quot; Color=&quot;#fff&quot; /&gt;
			&lt;Rectangle Layer=&quot;Background&quot; Color=&quot;#18f&quot; CornerRadius=&quot;2&quot; /&gt;
		&lt;/Panel&gt;
	&lt;/Each&gt;
&lt;/StackPanel&gt;
</code></pre>
<p><img src="../media/responsive-layout/stackpanel_ex.png" alt="stackpanel_example"></p>
<h4 id="grid">Grid</h4>
<p><code>Grid</code> comes in handy when you need to build a responsive layout with flexible row or column sizes. By default, elements in a <code>Grid</code> are placed in the order they appear in UX, from left to right, top to bottom. However, you have full control over how a <code>Grid</code> behaves by using its properties <code>RowCount</code> and <code>ColumnCount</code>, or <code>Rows</code> and <code>Columns</code>. You can also explicitly tell each child to which row and column it should attach itself by using the <code>Row</code>, <code>Column</code>, <code>RowSpan</code> and <code>ColumnSpan</code> properties. See the <a href="https://www.fusetools.com/docs/fuse/controls/grid">Grid docs</a> for more details.</p>
<pre><code>&lt;Grid RowCount=&quot;2&quot; Columns=&quot;1*,2*&quot;&gt;
	&lt;Panel Color=&quot;#18f&quot;&gt;
		&lt;Text Value=&quot;Top 1/3&quot; Alignment=&quot;Center&quot; Color=&quot;#fff&quot; /&gt;
	&lt;/Panel&gt;
	&lt;Panel Color=&quot;#f81&quot;&gt;
		&lt;Text Value=&quot;Top 2/3&quot; Alignment=&quot;Center&quot; Color=&quot;#fff&quot; /&gt;
    &lt;/Panel&gt;
	&lt;Panel ColumnSpan=&quot;2&quot; Color=&quot;#1f8&quot;&gt;
		&lt;Text Value=&quot;Bottom half&quot; Alignment=&quot;Center&quot; /&gt;
	&lt;/Panel&gt;
&lt;/Grid&gt;
</code></pre>
<p><img src="../media/responsive-layout/grid_ex.png" alt="grid_example"></p>
<h4 id="wrappanel">WrapPanel</h4>
<p>The <code>WrapPanel</code> is used when you need to lay out children one after another in a given orientation, and wrap around whenever you reach the end of the available space in a particular direction. By default it lays its children out horizontally, and wraps around vertically. See the <a href="https://www.fusetools.com/docs/fuse/controls/wrappanel">WrapPanel docs</a> for more details.</p>
<pre><code>&lt;App&gt;
	&lt;WrapPanel&gt;
		&lt;Panel Width=&quot;128&quot; Height=&quot;56&quot; Margin=&quot;4&quot; Color=&quot;#18f&quot; /&gt;
		&lt;Panel Width=&quot;160&quot; Height=&quot;56&quot; Margin=&quot;4&quot; Color=&quot;#18f&quot; /&gt;
		&lt;Panel Width=&quot;48&quot; Height=&quot;56&quot; Margin=&quot;4&quot; Color=&quot;#18f&quot; /&gt;
		&lt;Panel Width=&quot;48&quot; Height=&quot;56&quot; Margin=&quot;4&quot; Color=&quot;#18f&quot; /&gt;
		&lt;Panel Width=&quot;128&quot; Height=&quot;56&quot; Margin=&quot;4&quot; Color=&quot;#18f&quot; /&gt;
	&lt;/WrapPanel&gt;
&lt;/App&gt;
</code></pre>
<p><img src="../media/responsive-layout/wrappanel_ex.png" alt="wrappanel_example"></p>
<h4 id="panel">Panel</h4>
<p>A <code>Panel</code> is arguably the simplest container in Fuse. You want to use <code>Panel</code> when you want to position its children in the same area of available space without subdividing it like for example <code>DockPanel</code> does. Details can be found <a href="https://www.fusetools.com/docs/fuse/controls/panel">here</a>.</p>
<pre><code>&lt;Panel Height=&quot;56&quot; Margin=&quot;24,0&quot;&gt;
	&lt;TextInput Value=&quot;Some text&quot; TextColor=&quot;#fff&quot; Margin=&quot;10&quot;/&gt;
	&lt;Rectangle Color=&quot;#18f&quot; CornerRadius=&quot;2&quot; /&gt;
&lt;/Panel&gt;
</code></pre>
<p><img src="../media/responsive-layout/panel_ex.png" alt="panel_example"></p>
<h4 id="scrollview">ScrollView</h4>
<p>A <code>ScrollView</code> is generally used to display content that is bigger than the screen of the device. A prominent example are lists of items. Note that a <code>ScrollView</code> can only have a single visual child. Since <code>ScrollView</code> by default occupies the whole available space, we usually place a <code>StackPanel</code> inside it in order to make a scrollable list.</p>
<pre><code>&lt;ScrollView&gt;
	&lt;StackPanel Margin=&quot;8&quot; ItemSpacing=&quot;4&quot;&gt;
		&lt;Each Count=&quot;24&quot;&gt;
			&lt;Panel Height=&quot;56&quot;&gt;
				&lt;Text Value=&quot;The title of an item&quot; Alignment=&quot;Center&quot; Color=&quot;#fff&quot; /&gt;
				&lt;Rectangle Color=&quot;#18f&quot; CornerRadius=&quot;2&quot; /&gt;
			&lt;/Panel&gt;
		&lt;/Each&gt;
	&lt;/StackPanel&gt;
&lt;/ScrollView&gt;
</code></pre>
<p><img src="../media/responsive-layout/scrollview_ex.png" alt="scrollview_example"></p>
<h3 id="adapting-to-different-screen-sizes-and-orientations">Adapting to different screen sizes and orientations</h3>
<p>When we're making cross-platform applications that target a broad range of device models, it makes sense to use the additional screen real estate you get when running on larger devices, such as tablets. It is also wise to adapt certain views to whether it is displayed in the portrait or landscape device orientation. Fuse has a set of triggers to handle this: <code>WhileWindowPortrait</code>, <code>WhileWindowLandscape</code> and <code>WhileWindowSize</code>. These can be combined to describe very detailed use cases. We will show you how in the next section!</p>
<h3 id="hands-on">Hands-on</h3>
<p>It's time we use what we've learnt so far and replicate a real-world app design in Fuse. As a popular example, let's take a look at how the Google Docs application behaves on different screens. There are of course many subtle details that change, but here we will replicate the basic structure of the app layout.</p>
<p>On iPhone 6, it has two items in a row while in portrait, and changes that to 3 items when rotated to landscape.
<img src="../media/responsive-layout/responsive-layout-iphone.png" alt="iPhone"></p>
<p>On iPad, it has three items in a row while in portrait, and changes that to 5 items when rotated to landscape.
<img src="../media/responsive-layout/responsive-layout-ipad.png" alt="iPad portrait"></p>
<p>Let's start with the basic app structure. The first things we take care of are the status and bottom bars - we do not want our app content to be drawn behind them, so we put a <code>DockPanel</code> in the app and dock a <code>StatusBarBackground</code> and <code>BottomBarBackground</code> to its top and bottom. Further more, we set the background color of the status bar to the blue tone that's going to be used for the whole top section of the app.</p>
<pre><code>&lt;App Background=&quot;#eee&quot;&gt;

	&lt;!-- iOS specific status bar styling --&gt;
	&lt;iOS.StatusBarConfig Style=&quot;Light&quot; /&gt;
	
	&lt;DockPanel&gt;
		&lt;StatusBarBackground Dock=&quot;Top&quot; Background=&quot;#4285f4&quot; /&gt;
		&lt;BottomBarBackground Dock=&quot;Bottom&quot; /&gt;
	&lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>
<p>Next we add the blue top bar itself that holds our action buttons. Since we already have our parent <code>DockPanel</code>, we only need to specify <code>Dock=&quot;Top&quot;</code> on the element and give it a height, and it gets aligned to the very top of the available space, right below <code>StatusBarBackground</code>. We won't add any icons for now, but note that we conveniently made the element a <code>DockPanel</code> so you can easily dock things inside of it later.</p>
<p>Then we add another empty <code>Panel</code> which automatically fills the remaining available space, and is the container that we will put the rest of our content in.</p>
<pre><code>&lt;App Background=&quot;#eee&quot;&gt;

	&lt;!-- iOS specific status bar styling --&gt;
	&lt;iOS.StatusBarConfig Style=&quot;Light&quot; /&gt;
	
	&lt;DockPanel&gt;
		&lt;StatusBarBackground Dock=&quot;Top&quot; Background=&quot;#4285f4&quot; /&gt;
		&lt;BottomBarBackground Dock=&quot;Bottom&quot; /&gt;

		&lt;DockPanel Dock=&quot;Top&quot; Height=&quot;56&quot; Color=&quot;#4285f4&quot;&gt;
			&lt;!-- this is the blue top bar that will hold the icons --&gt;
		&lt;/DockPanel&gt;

		&lt;Panel&gt;
			&lt;!-- this fills the remaining available space --&gt;
		&lt;/Panel&gt;

	&lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>
<p><img src="../media/responsive-layout/hand_on_1.png" alt="hands on 1"></p>
<p>Looking back at the app screenshots, we see that the content area is scrollable, which means that we will have to use a <code>ScrollView</code>. However, there is this red &quot;plus&quot; button that should stay on top of the <code>ScrollView</code>, and <strong>not</strong> move with it as it scrolls. Because of that, we use a <code>Panel</code> as the parent of the content area, because it allows us to put its children on top of each other:</p>
<pre><code>&lt;Panel&gt;
	&lt;Circle Width=&quot;56&quot; Height=&quot;56&quot; Margin=&quot;16&quot; Color=&quot;#db4437&quot; Alignment=&quot;BottomRight&quot;&gt;
		&lt;Shadow /&gt;
	&lt;/Circle&gt;
	&lt;ScrollView&gt;
	&lt;/ScrollView&gt;
&lt;/Panel&gt;
</code></pre>
<p><img src="../media/responsive-layout/hand_on_2.png" alt="hands on 2"></p>
<p>The scrollable content in the screenshots appears to be arranged in a grid formation with equally sized columns. It makes sense to use a <code>Grid</code> here, since that allows us to change the number of columns our content is going to be put into, and the <code>Grid</code> will adjust as necessary. As we outlined at the top, the number of columns will depend on the screen size of the device the app runs on.</p>
<p>First we need to reserve some space on top of the <code>Grid</code> for a title and an ordering toggle that you can add later. To do that, we first put a <code>StackPanel</code> inside of the <code>ScrollView</code>. In the <code>StackPanel</code>, we put a 56 points tall <code>Panel</code> and the <code>Grid</code> that will hold the items. We specify our <code>Grid</code> to have 2 equally sized columns by default (using the <code>ColumnCount</code> property), and give it a <code>ux:Name</code> so we can refer to it later.</p>
<pre><code>&lt;Panel&gt;

	&lt;Circle Width=&quot;56&quot; Height=&quot;56&quot; Margin=&quot;16&quot; Color=&quot;#db4437&quot; Alignment=&quot;BottomRight&quot;&gt;
		&lt;Shadow /&gt;
	&lt;/Circle&gt;

	&lt;ScrollView&gt;
		&lt;StackPanel&gt;
			&lt;Panel Height=&quot;56&quot; /&gt;
			&lt;Grid ux:Name=&quot;itemGrid&quot; ColumnCount=&quot;2&quot; Margin=&quot;4&quot; CellSpacing=&quot;4&quot;&gt;
			&lt;/Grid&gt;
		&lt;/StackPanel&gt;
	&lt;/ScrollView&gt;
	
&lt;/Panel&gt;
</code></pre>
<p>The next thing we want to do is to add some placeholder content for the items so that we can style them. To achieve that, we use the <code>Each</code> class. <code>Each</code> is most frequently used for data-binding to arrays of data, but in our case we'll use it as a tool to repeat the same UX multiple times using its <code>Count</code> property.</p>
<p>Inside the <code>Each</code>, we want to define how a single &quot;box&quot;, that represents an item, looks like. The <code>Each</code> object will take care of creating 20 instances of it for us. What's tricky about the list items is that their size should adapt to the varying number of columns in the parent <code>Grid</code> as the screen size or orientation changes. This means that we can't set explicit <code>Width</code> or <code>Height</code> on them. Luckily, there's one thing that is certain: we know they need to stay square. We can achieve this by setting <code>BoxSizing=&quot;FillAspect&quot;</code> and <code>Aspect=&quot;1&quot;</code> on the item. This will stretch the item to fill the available space within the <code>Grid</code> cell that it gets assigned to.</p>
<pre><code>&lt;Grid ux:Name=&quot;itemGrid&quot; ColumnCount=&quot;2&quot; Margin=&quot;4&quot; CellSpacing=&quot;4&quot;&gt;
	&lt;Each Count=&quot;20&quot;&gt;
		&lt;DockPanel BoxSizing=&quot;FillAspect&quot; Aspect=&quot;1&quot;&gt;
		&lt;/DockPanel&gt;
	&lt;/Each&gt;
&lt;/Grid&gt;
</code></pre>
<p><img src="../media/responsive-layout/hand_on_3.png" alt="hands on 3"></p>
<p>Finally we add some content to the grid items. Note how we set <code>Layer=&quot;Background&quot;</code> on the <code>Rectangle</code> that serves as the white background of the item - this ensures that it is sent to the background and does not participate in the layout calculation done by its parent <code>DockPanel</code>.</p>
<pre><code>&lt;Grid ux:Name=&quot;itemGrid&quot; ColumnCount=&quot;2&quot; Margin=&quot;4&quot; CellSpacing=&quot;4&quot;&gt;
	&lt;Each Count=&quot;20&quot;&gt;
		&lt;DockPanel BoxSizing=&quot;FillAspect&quot; Aspect=&quot;1&quot;&gt;
			&lt;Panel Dock=&quot;Bottom&quot; Height=&quot;40&quot; Color=&quot;#fafafa&quot; Margin=&quot;1&quot;&gt;
				&lt;Text Value=&quot;Title&quot; Alignment=&quot;CenterLeft&quot; Margin=&quot;8,0&quot; /&gt;
			&lt;/Panel&gt;
			&lt;Text Value=&quot;preview&quot; Alignment=&quot;Center&quot; TextColor=&quot;#bbb&quot; /&gt;
			&lt;Rectangle Color=&quot;#fff&quot; Layer=&quot;Background&quot;&gt;
				&lt;Stroke Width=&quot;1&quot; Color=&quot;#eaeaea&quot; /&gt;
			&lt;/Rectangle&gt;
		&lt;/DockPanel&gt;
	&lt;/Each&gt;
&lt;/Grid&gt;
</code></pre>
<p><img src="../media/responsive-layout/hand_on_4.png" alt="hands on 4"></p>
<p>To make the basic app structure complete, we need to make the <code>Grid</code> adapt to various screen sizes and device orientations. Here we want to use the general approach of describing varying states as deviations from the rest state. Our rest state in this case is a phone in portrait orientation that has two items on each row in the <code>Grid</code>.</p>
<p>The deviations we need to describe then are &quot;phone in landscape&quot;, &quot;tablet in portrait&quot; and &quot;tablet in landscape&quot;. We start by creating a new <code>WhileTablet</code> trigger that is going to evaluate to true when the screen size in any direction is larger than or equal to 600 points. We chose the number so that it matches <a href="https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints">Material design guidelines</a>.</p>
<p>Then we couple the new <code>WhileTablet</code> trigger with <code>WhileWindowPortait</code> and <code>WhileWindowLandscape</code> to describe the &quot;how many items per row&quot; rules we set out at the top of the Hands-on section.</p>
<pre><code>&lt;WhileWindowSize ux:Class=&quot;WhileTablet&quot; GreaterThan=&quot;599,1&quot; /&gt;

&lt;WhileWindowPortrait&gt;
	&lt;WhileTablet&gt;
		&lt;Change itemGrid.ColumnCount=&quot;3&quot; /&gt;
	&lt;/WhileTablet&gt;
&lt;/WhileWindowPortrait&gt;

&lt;WhileWindowLandscape&gt;
	&lt;WhileTablet&gt;
		&lt;Change itemGrid.ColumnCount=&quot;5&quot; /&gt;
	&lt;/WhileTablet&gt;
	&lt;WhileTablet Invert=&quot;true&quot;&gt;
		&lt;Change itemGrid.ColumnCount=&quot;3&quot; /&gt;
	&lt;/WhileTablet&gt;
&lt;/WhileWindowLandscape&gt;
</code></pre>
<p>With that, our Google Docs app mockup is done. Take a look at the full code below, give it a go and see how it works on different devices!</p>
<p><img src="../media/responsive-layout/hand_on_5.png" alt="hands on 5"></p>
<pre><code>&lt;App Background=&quot;#eee&quot;&gt;
	&lt;iOS.StatusBarConfig Style=&quot;Light&quot; /&gt;

	&lt;DockPanel&gt;

		&lt;StatusBarBackground Dock=&quot;Top&quot; Background=&quot;#4285f4&quot; /&gt;
		&lt;BottomBarBackground Dock=&quot;Bottom&quot; /&gt;

		&lt;DockPanel Dock=&quot;Top&quot; Height=&quot;56&quot; Color=&quot;#4285f4&quot;&gt;
			&lt;!-- this is the blue top bar that will hold the icons --&gt;
		&lt;/DockPanel&gt;

		&lt;Panel&gt;

			&lt;Circle Width=&quot;56&quot; Height=&quot;56&quot; Margin=&quot;16&quot; Color=&quot;#db4437&quot; Alignment=&quot;BottomRight&quot;&gt;
				&lt;Shadow /&gt;
			&lt;/Circle&gt;

			&lt;ScrollView&gt;
				&lt;StackPanel&gt;
					&lt;Panel Height=&quot;56&quot; /&gt;
					&lt;Grid ux:Name=&quot;itemGrid&quot; ColumnCount=&quot;2&quot; Margin=&quot;4&quot; CellSpacing=&quot;4&quot;&gt;
						&lt;Each Count=&quot;20&quot;&gt;
							&lt;DockPanel BoxSizing=&quot;FillAspect&quot; Aspect=&quot;1&quot;&gt;
								&lt;Panel Dock=&quot;Bottom&quot; Height=&quot;40&quot; Color=&quot;#fafafa&quot; Margin=&quot;1&quot;&gt;
									&lt;Text Value=&quot;Title&quot; Alignment=&quot;CenterLeft&quot; Margin=&quot;8,0&quot; /&gt;
								&lt;/Panel&gt;
								&lt;Text Value=&quot;preview&quot; Alignment=&quot;Center&quot; TextColor=&quot;#bbb&quot; /&gt;
								&lt;Rectangle Color=&quot;#fff&quot; Layer=&quot;Background&quot;&gt;
									&lt;Stroke Width=&quot;1&quot; Color=&quot;#eaeaea&quot; /&gt;
								&lt;/Rectangle&gt;
							&lt;/DockPanel&gt;
						&lt;/Each&gt;
					&lt;/Grid&gt;
				&lt;/StackPanel&gt;
			&lt;/ScrollView&gt;
			
		&lt;/Panel&gt;

		&lt;WhileWindowSize ux:Class=&quot;WhileTablet&quot; GreaterThan=&quot;599,1&quot; /&gt;

		&lt;WhileWindowPortrait&gt;
			&lt;WhileTablet&gt;
				&lt;Change itemGrid.ColumnCount=&quot;3&quot; /&gt;
			&lt;/WhileTablet&gt;
		&lt;/WhileWindowPortrait&gt;

		&lt;WhileWindowLandscape&gt;
			&lt;WhileTablet&gt;
				&lt;Change itemGrid.ColumnCount=&quot;5&quot; /&gt;
			&lt;/WhileTablet&gt;
			&lt;WhileTablet Invert=&quot;true&quot;&gt;
				&lt;Change itemGrid.ColumnCount=&quot;3&quot; /&gt;
			&lt;/WhileTablet&gt;
		&lt;/WhileWindowLandscape&gt;

	&lt;/DockPanel&gt;
&lt;/App&gt;
</code></pre>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://fuse-open.github.io/docs/jquery.js?_v=20180508073448"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/docs/popper.js?_v=20180508073448"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/docs/bootstrap.js?_v=20180508073448"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/docs/prism.js?_v=20180508073448"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/docs/site.js?_v=20180508073448"></script>
  </body>
</html>
